<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/visualStyle.css" />

    {% block link %}{% endblock %} {% block title %}{% endblock %}
  </head>
  <body>
    {% block externalDivs %}{% endblock externalDivs %}
    <!-- main index -->
    <main>
      <h1>Budget Tracker App</h1>
      {% block content %}{% endblock %}
      <div class="nav-div">
        <nav>
          <ol class="links">
            <a href="http://127.0.0.1:5000/home" id="home">Home</a>
            <a href="http://127.0.0.1:5000/visual" id="visual">Visualize</a>
          </ol>
        </nav>
      </div>
    </main>
    {% block script %}{% endblock script %}
  </body>
</html>
