* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --big-width: 100%;
    --big-height: 100%;
    --medium-width: 70%;
    --medium-height: 70%;
    --very-small-width: 10%;
    --small-width: 20%;
    --very-small-height: 10%;
    --small-height: 20%;
    --margin-left: 15%;
    --margin-right: 15%;
    --margin-top: 5px;
    --test-border-1: 1px solid black;
    --test-border-2: 1px solid red;
    --very-small-percent: 5%;
    --small-percent: 20%;
    --average-percent: 50%;
    --big-percent: 70%;
    --very-big-percent: 90%;
    --color-1: rgba(243, 192, 96, 0.501);
    --color-2: rgba(255, 255, 255, 0.834);
    --color-3: rgba(50, 164, 164, 0.497);

}

body {
    position: relative;
}

.modal-div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.768);
    width: var(--small-width);
    height: var(--small-height);
    top: var(--average-percent);
    margin-left: 35%;
    color: var(--color-2);
    font-size: large;
    display: none;
}
.cancel {
    position: absolute;
    top: 0;
    right: 0;
}

main {
    margin-top: var(--margin-top);
    height: 100%;
    border: 2px solid green;
    border-radius: 5px;
    width: var(--medium-width);
    margin-left: var(--margin-left);
}
.ledger {
    display: flex;
    justify-content: space-around;
    width: var(--medium-width);
    margin-left: var(--margin-left);
}
.ledger div {
    display: flex;
    justify-content: space-evenly;
    width: var(--small-width);
}
.expense-div,
.income-div,
.saving-div {
    width: var(--medium-width);
    display: flex;
    margin-left: var(--margin-left);
    justify-content: space-evenly;
    flex-direction: column;
}
.ex-div,
.in-div,
.save-div {
    display: flex;
    height: var(--small-height);
    width: var(--medium-width);
    margin-left: var(--margin-left);
    justify-content: center;
    /* border: var(--test-border-1); */
    margin-top: 20px;
}

.expense-budget-div,
.income-budget-div,
.save-budget-div {
    background-color: var(--color-1);
    width: var(--big-width);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.ex-top, .in-top, .save-top {
    display: flex;
    /* border: var(--test-border-1); */
    /* justify-content: center; */
}
.card {
    width: 130px;
    height: 170px;
    border-radius: var(--very-small-percent);
    background-color: var(--color-2);
}
.currency,
.card img {
    margin-top: 15px;
}
.currency p {
    display: flex;
    width: 50%;
    margin-left: 30%;
}

.card-btn-div button {
    height: 50px;
    width: 50px;
    border-radius: 35%;
    border: none;
    font-size: 50px;
    color: orange;
    background-color: white;
}
.card-btn-div button:hover {
    color: var(--color-3);
}
.card-btn-div button:active {
    color: var(--color-2);
}

.nav-div {
    width: var(--medium-width);
    margin-left: var(--margin-left);
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--very-small-percent);
}
nav {
    width: var(--medium-width);
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: black;
    background-color: var(--color-1);
    font-size: 150%;
    border-radius: 5px;
}

.links a:hover {
    background-color: var(--color-3);
}
.links a:active {
    background-color: var(--color-2);
}

.add-div {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.438);
    right: 0;
    left: 0;
    display: none;
}
.add {
    border: var(--test-border-1);
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: white;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add input {
    height: 40px;
    border-radius: 25px;
    width: 90%;
    margin-left: 40px;
    font-size: larger;
}
.add button {
    width: 90%;
    height: 40px;
    margin-left: 35px;
    border-radius: 5px;
}
.balance-div {
    height: 10%;
    width: var(--medium-width);
    margin-left: var(--margin-left);
}
.balance-div div {
    margin-top: 10%;
    display: flex;
    gap: 10PX;
    font-size: 30px;
    background-color: var(--color-1);
    border-radius: 5px;
}
.bl {
    color: green;
}

#btn-edit, #btn-delete {
    width: 40%;
    height: auto;
    border-radius: 5px;
}
#btn-edit {
    background-color: green;
}
#btn-delete {
    background-color: red;
}
#btn-edit:active {
    background-color: rgba(78, 243, 78, 0.748);
}
#btn-delete:active {
    background-color: rgba(245, 79, 79, 0.744);
}